.canvas-playground {
    padding: 10px;
}

.canvas-playground-main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.canvas-controls {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
}

.canvas-wrapper {
    padding: 5px 10px;
    flex: 2 0 auto;
    text-align: center;
}

.canvas-one {
    border:1px solid #CCCCCC;
    background: url(../../images/transparent-background.png) top left repeat;
}

.canvas-control-column {
    flex: 1 1 auto;
    border: 1px solid #999999;
    margin-left: 10px;
    padding: 5px;
}

.canvas-control-column:first-of-type {
    margin-left: 0;
}

.canvas-control-group {
    padding: 5px 0;
    transition: opacity linear var(--medium-animation-duration);
    margin-bottom: 10px;
}

.control-group-hidden {
    opacity: 0;
    pointer-events: none;
}

.canvas-control-group-title {
    font-weight: bold;
    padding: 5px 0px;
    font-size: 0.9rem;
}

.canvas-control-group-title:first-of-type {
    padding-top: 0;
}

.canvas-control {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 2px 0 3px 0;
    text-align: right;
}

.canvas-control label {
    flex: 1 1 auto;
    text-align: left;
}

.canvas-control input {
    flex: 1 1 45%;
}

.canvas-control input[type=checkbox],
.canvas-control input[type=color] {
    flex: 0 1 auto;
}

.range-input-reversed {
    direction: rtl;
}

.canvas-value-wrapper {
    display: inline-block;
    min-width: 30px;
}

.animation-step-control {
    text-align: center;
}

.animation-inspector {
    padding: 5px;
    justify-content: center;
}
.animation-inspector .inspector-json {
    background: #CCCCCC;
    flex: 1 1 auto;
    font-size: 0.8rem;
    text-align: left;
}
.animation-inspector .inspector-json var {
    float: right;

}